{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "**/node_modules/**",
    "**/lib/**",
    "**/*.d.ts",
    "*.d.ts"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "import/extensions": ["error", {
      "d.ts": "always"
    }],
    "import/no-import-module-exports": ["off"],
    "no-useless-constructor": ["off"],
    "no-shadow": ["off"],
    "@typescript-eslint/no-shadow": ["error"]
  }
}
